In [24]:
import pandas as pd
df=pd.read_excel('/Users/fahadsiddiqui/Desktop/ISBN_cisco.xlsx')

In [25]:
df

,Name,Year,ISBN
0,Learning Spark: Lightning-Fast Big Data Analysis,2015,ISBN: 978-1449358624

In [26]:
for isbn in df.ISBN:
    #list(isbn)
    isbn=isbn.upper()
    isbn=isbn.replace("-", "").replace(" ", "").replace(":", "").replace("ISBN", "");
    print(isbn)
for name in df.Name:
    print(name)
for year in df.Year:
    print(year)

9781449358624
Learning Spark: Lightning-Fast Big Data Analysis
2015

In [27]:
def isbn_valid_no(isbn):
    if len(isbn) == 13:
        if isbn[:3] == "978" or isbn[:3] == "979":
            return True
        else:
            return False
    else:
        return False

In [28]:
isbn_valid_no(isbn)

True

In [29]:
def isbn_check(isbn):
    cisbn=isbn[:12]
    #print(cisbn)
    check=isbn[-1:]
    #print(check)
    count=0
    sum=0
    for digit in cisbn:
        if count%2 == 0:
            sum+=int(digit)
        elif count%2 ==1:
            sum+=int(digit)*3
        count+=1
    #print(sum)
    if 10-sum%10==int(check):
        return True
    else:
        return False

In [30]:
isbn_check(isbn)

True

In [57]:
def isbn_validity_check(number):
    if isbn_valid_no(number) == True & isbn_check(number) == True:
        df.loc['1']=[name, year, 'ISBN-EAN:'+isbn[:3]]
        df.loc['2']=[name, year, 'ISBN-GROUP:'+isbn[3:5]]
        df.loc['3']=[name, year, 'ISBN-PUBLISHER:'+isbn[5:9]]
        df.loc['4']=[name, year, 'ISBN-TITLE:'+isbn[9:12]]

In [59]:
isbn_validity_check(isbn)
df

,Name,Year,ISBN
0,Learning Spark: Lightning-Fast Big Data Analysis,2015,ISBN: 978-1449358624
1,Learning Spark: Lightning-Fast Big Data Analysis,2015,ISBN-EAN:978
2,Learning Spark: Lightning-Fast Big Data Analysis,2015,ISBN-GROUP:14
3,Learning Spark: Lightning-Fast Big Data Analysis,2015,ISBN-PUBLISHER:4935
4,Learning Spark: Lightning-Fast Big Data Analysis,2015,ISBN-TITLE:862